.VariationsControls {
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem auto;

  input{
    width: 2rem;
    margin: 0 0.6rem 0 0.2rem;
  }
}

.ColorMatches {
  background:hsl(0, 0%, 94%);
  padding: 0.25rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem auto;

  .Swatch{
    display: block;
    margin: 0.125rem;
    height: 40px;
    width: 40px;
    font-size: 0.5rem;
    .details {
      overflow: hidden;
      position: absolute;
    }
    .hidden {
      display:none;
      visibility: hidden;
    }

    p{

    }
  }
}
