.VariationsControls {
  display: flex;
  flex-wrap: wrap;
  padding: 0.35rem;

  input{
    width: 2em;
    margin: 0 1em 0 0.4em;
  }
}

.ColorMatches {
  background:hsl(0, 0%, 94%);
  padding: 0.25rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem auto;

  .Swatch{
    display: block;
    margin: 0.125rem;
    height: 3rem;
    width: 3rem;
    font-size: 0.5rem;
    .details {
      overflow: hidden;
      position: absolute;
      margin-top: .2rem;
      margin-left: .2rem;
      width: 2.6rem;
      text-shadow: white .025rem 0, white 0 .025rem, white -.025rem 0, white 0 -.025rem;

    }
    .hidden {
      display:none;
      visibility: hidden;
    }

    p{

    }
  }
}
