@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Orbitron:wght@500&display=swap');

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}
 